:root {
  --background-color: #3E7CB1; /* Background color from your theme */
  --primary-color: #054A91;   /* Primary color */
  --secondary-color: #81A4CD; /* Secondary color */
  --text-primary: #000000;    /* Text primary */
  --text-secondary: #FFFFFF;  /* Text secondary */
  --spacing-unit: 16px;    /* Base spacing unit */
  --spacing-small: 5px;
  --spacing-medium: 15px;
  --spacing-large: 25px;
}

*{
  margin: 0;
  padding: 0;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}